
body{
    display: flex;
    background-color: #fbfbfb;
    padding-right: 80px;

}

.heading{
        
        width: 500px;
        margin: 30px;
    
}
.cards{
    display: flex;
    flex-wrap: wrap;
    margin:10px;
    
}
.card{
    
    width: 250px;
    margin: 30px;
    

}
.container{
    margin: 30px;
    padding: 30px;

}
h1{
    width: 450px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.santhu{
    width: 460px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
p{
    color: rgb(161, 161, 240);
    width: 300px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;

}
.githesh{
    color:rgb(97, 97, 131);
    
}
img{

    padding-bottom: 5px;
}